<%= form_for(@authorbook) do |f| %>
  <% if @authorbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@authorbook.errors.count, "error") %> prohibited this authorbook from being saved:</h2>

      <ul>
      <% @authorbook.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :author_id %><br />
    <%= f.number_field :author_id %>
  </div>
  <div class="field">
    <%= f.label :book_id %><br />
    <%= f.number_field :book_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
