<h1>Listing authorbooks</h1>

<table>
  <tr>
    <th>Author</th>
    <th>Book</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @authorbooks.each do |authorbook| %>
  <tr>
    <td><%= authorbook.author_id %></td>
    <td><%= authorbook.book_id %></td>
    <td><%= link_to 'Show', authorbook %></td>
    <td><%= link_to 'Edit', edit_authorbook_path(authorbook) %></td>
    <td><%= link_to 'Destroy', authorbook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Authorbook', new_authorbook_path %>
